/* GENERAL STYLE */
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}



/* Main Content Style */

/* Conteiner */
.conteiner {
    width: 55%;
    margin: 0 auto;
    background-color: white
    
}

/* production list */

.product-list { 
    margin: 0 auto; 
    width: 75%;
}


/* production item */
.product-item {
    display: inline-block;
    background-color: black;
    width: calc(100% /3);
    margin: 0 -3px 20px 0;
    height: 450px;
    color: white;
    position: relative
}

.product-img {
    height: 85%; 
    width: 100%; 
    background-color: red
}

.product-item .hearts {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    font-size: 17px;
    color: black;
    padding: 0 7px;
}

.product-item .hearts:hover {
    cursor: pointer
}

.product-item:hover .hearts {
    color: red
}