/* GENERAL STYLE */
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}



/* Main Content Style */

/* Conteiner */
.conteiner {
    width: 55%;
    margin: 0 auto;
    background-color: white
}